.blogLayout {
  position: relative;
  width: 100%;
  
  /* Styles to hide unnecessary top header */
  :global(h1[title="Web Development"]),
  :global(.subPage > h1),
  :global(.subPage > h1 + p) {
    display: none;
  }
} 